[mysqld]
### This config file is for a replication mirror, not a master database. You still need to do the correct things
### to setup replication, like "CHANGE MASTER" and creating users, etc. If you used the vicibox-install program
### then this will already be done for you. The vicibox replciation user is 'slave' and password 'slave1234'.
### By default only replicate the 'asterisk' database for ViciDial, comment out to replicate everything
### Make sure you do a full database dump if not just replicating asterisk database
replicate_do_db=asterisk

### Comment out the tables below here if you really need them replicated to the slave, these are PERFORMANCE HOGS!
### Most of these tables are MEMORY tables which aren't persistent or used solely as tables for tracking the progress
### of things temporarily before doing real things like log inserts or lead updates
replicate-ignore-table=asterisk.vicidial_live_agents
replicate-ignore-table=asterisk.live_sip_channels
replicate-ignore-table=asterisk.live_channels
replicate-ignore-table=asterisk.vicidial_auto_calls
replicate-ignore-table=asterisk.server_updater
replicate-ignore-table=asterisk.web_client_sessions
replicate-ignore-table=asterisk.vicidial_hopper
replicate-ignore-table=asterisk.vicidial_campaign_server_status
replicate-ignore-table=asterisk.parked_channels
replicate-ignore-table=asterisk.vicidial_manager
replicate-ignore-table=asterisk.cid_channels_recent
replicate-wild-ignore-table=asterisk.cid_channels_recent_%


### Some tuning settings for replication
binlog_direct_non_transactional_updates=1 # By default, all slave replications are treated as transactions, even though MyISAM doesn't support it, so disable that behavior cause it makes slave replicationg REALLLLLLLLLY slow
log_bin=/var/lib/mysql/mysql-bin
binlog_format=mixed
relay_log = /var/lib/mysql/mysql-relay-bin
slave-skip-errors = 1032,1690,1062 # ViciDial doesn't always do clean inserts, so prevent duplicate inserts from bombing the replication basically
slave_parallel_threads = 10 # Might need to increase this if slave replicating is slow, up to 40 or even 60 threads is not unheard of
slave-parallel-mode = optimistic
slave-parallel-max-queued = 8M
expire_logs_days = 3
