# MariaDB 10 configuration for ViciBox
# HW Spec: 8-Core 2+Ghz, 24-GB RAM, RAID-1 SSD under /srv/mysql/data

# The following options will be passed to all MariaDB clients
[client]
# password  = your_password
# port       = 3306
# socket     = /var/run/mysql/mysql.sock

[mysqld]
log_bin=/var/lib/mysql/mysql-bin
relay_log=/var/lib/mysql/mysql-relay-bin
binlog_format=mixed
binlog_direct_non_transactional_updates=1
datadir	= /srv/mysql/data
server-id	= 1
slave-skip-errors = 1032,1690,1062
slave_parallel_threads=20
slave-parallel-mode=optimistic
slave_parallel_max_queued=16M
port = 3306
socket = /var/run/mysql/mysql.sock
sql_mode=NO_ENGINE_SUBSTITUTION
skip-external-locking
skip-name-resolve
#no-auto-rehash
connect_timeout=60
long_query_time=3
slow-query-log=1
slow-query-log-file=/var/lib/mysql/mysqld-slow.log
log-slow-verbosity=query_plan,explain
max_connections=2000
key_buffer_size = 8G
max_allowed_packet = 16M
table_open_cache = 4096
table_definition_cache=16384
sort_buffer_size = 4M
net_buffer_length = 8K
read_buffer_size = 4M
read_rnd_buffer_size = 16M
myisam_sort_buffer_size = 128M
query_cache_size=0 # Disabled cause at higher load is causes issues!
default-storage-engine=MyISAM
expire_logs_days = 3
concurrent_insert = 2
myisam_repair_threads = 4
myisam_recover_option=DEFAULT
tmpdir = /tmp/
thread_cache_size=100
join_buffer_size=1M
myisam_use_mmap=1
open_files_limit=24576
max_heap_table_size=512M
tmp_table_size=32M
key_cache_segments=64
log_warnings=1 # Silence the noise!!!

#replicate_do_db=somecustomer
#replicate-ignore-table=somecustomer.vicidial_live_agents
#replicate-ignore-table=somecustomer.live_sip_channels
#replicate-ignore-table=somecustomer.live_channels
#replicate-ignore-table=somecustomer.vicidial_auto_calls
#replicate-ignore-table=somecustomer.server_updater
#replicate-ignore-table=somecustomer.web_client_sessions
#replicate-ignore-table=somecustomer.vicidial_hopper
#replicate-ignore-table=somecustomer.vicidial_campaign_server_status
#replicate-ignore-table=somecustomer.parked_channels
#replicate-ignore-table=somecustomer.vicidial_manager
#replicate-wild-ignore-table=somecustomer.cid_channels_recent_%


[mysqld_multi]
mysqld     = /usr/bin/mysqld_safe
mysqladmin = /usr/bin/mysqladmin
log        = /var/log/mysqld_multi.log

# If you want to use mysqld_multi uncomment 1 or more mysqld sections
# below or add your own ones.

# WARNING
# --------
# If you uncomment mysqld1 than make absolutely sure, that database mysql,
# configured above, is not started.  This may result in corrupted data!
#
# [mysqld1]
# port       = 3306
# datadir    = /var/lib/mysql
# pid-file   = /var/lib/mysql/mysqld.pid
# socket     = /var/lib/mysql/mysql.sock
# user       = mysql

# [mysqld2]
# port       = 3307
# datadir    = /var/lib/mysql-databases/mysqld2
# pid-file   = /var/lib/mysql-databases/mysqld2/mysql.pid
# socket     = /var/lib/mysql-databases/mysqld2/mysql.sock
# user       = mysql

# [mysqld3]
# port       = 3308
# datadir    = /var/lib/mysql-databases/mysqld3
# pid-file   = /var/lib/mysql-databases/mysqld3/mysql.pid
# socket     = /var/lib/mysql-databases/mysqld3/mysql.sock
# user       = mysql

# [mysqld6]
# port       = 3309
# datadir    = /var/lib/mysql-databases/mysqld6
# pid-file   = /var/lib/mysql-databases/mysqld6/mysql.pid
# socket     = /var/lib/mysql-databases/mysqld6/mysql.sock
# user       = mysql

!includedir /etc/my.cnf.d

